#comment, #createComment{
    display: block;
    padding: 10px;
    margin: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#test{
    background: yellow;
}

img {
    height: 100%;
    width: auto;
}

.title{
    background-color: #333;
    color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
}
.thumbnail{
    border-radius: 15px;
    text-align: center;
}
.confirm-delete-text {
    font-weight: bolder;
    color: red;
    font-size: 20px;
}
/*.comment-container {*/
    /*border: 2px solid red;*/
/*}*/