.seed-box {
    width: 15em;
    border: 3px solid antiquewhite;
    padding: 10px;
    display: inline-block;
    margin: 2px 5px;
}

.seed-box > * {
    margin: 2px;
    padding: 2px;
    text-align: left;
}

.seed-box:hover {
    color: white;
    background-color: black;
}


table {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
table tr {
    border: 1px solid #D9E4E6;
}
table tr:nth-child(odd) {
    background-color: #EAF3F3;
}
table th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.listed-seed-image {
    width: 100%;
}

/*sample table css*/
table th:first-child {
    display: table-cell;
    text-align: center;
}
table th:nth-child(2) {
    display: table-cell;
}
table th:nth-child(2) span {
    display: none;
}
table th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    table th:nth-child(2) span {
        display: block;
    }
    table th:nth-child(2):after {
        display: none;
    }
}
table td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
table td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    table td {
        border: 1px solid #D9E4E6;
    }
}
table th,
table td {
    text-align: left;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    table th,
    table td {
        display: table-cell;
        padding: 1em;
    }
}

body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}
h1 span {
    color: #167F92;
}

.title{
    background-color: #333;
    color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
}

.row{
    padding-bottom: 20px;
}
.old-price{
    color: red;
}
.amount-span{
    text-align: center;
    color: blue;
}